/* 사용한 웹폰트
font-family: "pretendard", sans-serif;
font-weight: 400; (100~900)
font-style: normal;  */

/* Reset */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* common */
html {
		box-sizing: border-box;
    scroll-behavior: smooth;
	}
body {
	font-family: "pretendard", sans-serif;
	font-weight: 400; 
	font-style: normal;
	color: #401404; 
	}
a {
	text-decoration: none;
	color: #401404;
}
.inner {
	width: 80em;
	margin: 0 auto;
	position: relative;
  overflow: hidden;
}
 .btn {
  width: 130px;
  padding: 14px;
  
  border-radius: 5px;
  background: #401404;
  color: #f6f5f0;
  font-size: 1.1em;
  font-weight: 200;
  
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  transition: .4s;
  
}
 .btn:hover {
  background: #F19627;
  color: #f6f5f0;
}

/* header */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  height: 104px;
  
}
header .logo {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin: auto;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 6px;
}
header .sub-menu {
  position: absolute;
  top: .5em;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
	display: flex;
}
header .sub-menu ul.menu li a {
  font-size: .8em;
  padding: 1em 1.4em;
  display: block;
  color: #666;
  
}
header .sub-menu ul.menu li a:hover {
  color: #401404;
}
header .sub-menu .search {
  height: 2.3em;
  position: relative;
}
header .sub-menu .search input {
  width: 3em;
  height: 2.8em;
  padding: 4px 10px;
  border: 0;
  border-bottom: 1px solid #c8c8c8;
  box-sizing: border-box;
  
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: .8em;
  transition: width 0.4s;
}
header .sub-menu .search input:focus {
  width: 14em;
  border-color: #F19627;
}
header .sub-menu .search .material-symbols-outlined {
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: .3em;
  margin: auto;
  transition: .4s;
  cursor: pointer;
  text-align: center;
}
header .sub-menu .search .material-symbols-outlined i {
	line-height: 1.8em;
}
header .sub-menu .search.focused .material-symbols-outlined {
  opacity: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item .item_name {
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 2px;
	padding: .8em 1em;
}
header .main-menu .item:hover .item_name a {
	color: #F19627;
}
header .main-menu .item .contents_menu {
  width: 100vw;
  position: fixed;
  left: 0;
  opacity: 0;
  border-top: 1px solid #c8c8c8;
  transition: .3s;
  visibility: hidden;
  max-height: 80vh;
  overflow-y: auto;
  
}
header .main-menu .item .contents_menu ul.inner {
	width: 100%;
	
	
}
header .main-menu .item:hover .contents_menu {
  visibility: visible;
	opacity: 1;
  transition: .3s;
  
}
header .main-menu .item .contents_menu {
	background-color: #f6f5f0 ;
}
header .main-menu .item .contents_menu > ul {
  display: flex;
  padding: 2em 0;
  justify-content: center;
  gap: 3.5em;
  flex-wrap: wrap;
}
header .main-menu .item .contents_menu > ul > li h4 {
  padding: .5em 0 1em 0;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
}
header .main-menu .item .contents_menu > ul > li h4:hover a {
	color: #F19627;
}
header .main-menu .item .contents_menu > ul > li ul li {
  padding: .5em 0;
  font-size: 1em;
  
  
}
header .main-menu .item .contents_menu > ul > li ul li a {
	
}
header .main-menu .item .contents_menu > ul > li ul li:hover a {
  color: #F19627;
}
.sub-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1em;
}
.sub-box .sub-img {
  width: 320px;
}
.sub-box .sub-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sub-box:hover .sub-text, .sub-box:hover h4  {
  color: #F19627;
}
.sub-box2 {
  text-align: center;
}
.close-btn {
  display: none;
}
.close-btn button {
  
  font-size:20px;
  background:none;
  border:none;
  cursor:pointer;
  
  padding:10px;
  
}
.search-box {
  display: none;
}


/* banner */
.banner {
  margin-top: 104px;
  
  height: 46em;
}
 .slider-container {
      overflow: hidden;
      position: relative;
      height: 100%;
      margin: auto;
    }
.slider-track {
      display: flex;
      transition: transform 2s ease-in-out;
      height: 100%;
    }
    .slide {
      min-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: #f6f5f0;
      position: relative;
    }
    .slide a {
      display: block;
      height: 100%;
      width: 100%;
    }
    .slide .text {
      position: absolute;
      width: 100%;
      top: 40%;
      right: 40px;
      color: #f6f5f0;
      text-align: right;
      
    }
    .slide .text h2 {
      font-weight: 700;
      padding: 20px 0;
      letter-spacing: 5px;
      font-size: 1.2em;
    }
    .slide .text p {
      font-size: 0.6em;
      letter-spacing: 3px;
      font-weight: 200;
    }
    .slide .text_b {
      color: #401404;
      
    }
    .slide .text_b h2 {
      display: inline-block;
      z-index: 1;
      position: relative;
      
    }
    .slide .text_b h2:after{
      content:"";
      width: 100%;
      height: 40px;
      display: inline-block;
      background: rgba(231, 231, 231,.2);
      
      position: absolute;
      top: 20%;
      left:0;
      z-index:-1;
    }


.slide1 { background-image: url(../img/guerlain-banner01.avif);
          background-repeat: no-repeat;
          background-position: center 60%;
          background-size: cover;        
}
.slide2 { background-image: url(../img/guerlain-banner02.avif);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
.slide3 { background-image: url(../img/guerlain-banner03.avif);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }

.pagination {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;
    }

    .pagination span {
      width: 12px;
      height: 12px;
      background: #ccc;
      border-radius: 50%;
      cursor: pointer;
    }

    .pagination .active {
      background: #F19627;
    }


/* content 1 향수 섹션 */
.coll-section {
  margin: 100px 0;
  scroll-margin-top: 204px;
}
.coll-section section.theme {
  display: flex;
  gap: 40px;
  
  color: #401404;
}
.coll-section section.theme .pic-box {
  width: 250em;
  height: 480px;
  
}
.coll-section section.theme .pic-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 1.5em 0;
}
.content h3 {
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: right;
}
.content h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #401404;
  margin-top: 20px;
}
.content p, .collection h3 {
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.4em;
    
}

.collection {
  margin-top: 100px;
  
  
}
.collection h3 {
  font-weight: 300;
  font-size: 1.5em;
  display: inline-block;
 
}
.collection h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #401404;
  margin-top: 15px;
}

.coll-box {
  display: flex;
  margin-top: 40px;
}
.coll-box article {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.coll-box article .coll-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .5s;
}
.coll-box article:hover .coll-img {
  opacity: .2;
}
.coll-box article .coll-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.coll-text h4 {
  font-size: 1.2em;
  padding: 0 6px;
  transform: translateY(20px);
  transition: all 0.5s;
  opacity: 0;
  font-weight: 700;
}
.coll-text p {
  margin-top: 15px;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0 6px;
  transform: translateY(20px);
  transition: all 0.5s;
  opacity: 0;
  text-transform: uppercase;
}
.coll-box article:hover .coll-text h4, .coll-box article:hover .coll-text p {
   transform: translateY(0);
   opacity: 1;
}

/* content 2 메이크업 섹션 */
#two {
  
  scroll-margin-top: 104px;
}
.coll-box2 {
  display: flex;
  
  
}
.coll-box2 article {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.coll-box2 article .coll-img2 {
  height: 600px;
  transition: opacity .5s;
}
.coll-box2 article .coll-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.coll-box2 .coll-text2 {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 72%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(20px);
  transition: all 0.5s;
  opacity: 0;
  
}
.coll-text2 h4 {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 6px;
  
}
.coll-text2 p {
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  
  
}

.coll-box2 article:hover .coll-text2  {
  transform: translateY(0);
   opacity: 1;
}
.coll-box2 article:hover .coll-img2 {
  opacity: .4;
}

/* content 3 스킨케어 섹션 */
.coll-section section.theme .pic-box2 {
 width: 300em;
}
.text-left h3 {
  text-align: left;
}
.text-right  {
  text-align: right;
}

/* middle 겔랑의 identity */
.identity {
  background-image: url(../img/guerlain-pic16.jpg);
}
.identity .inner {
  height: 400px;
  color: #f6f5f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.identity h3, .spa-text h3, .service h3 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.4;
}
.color-point {
  color: #F19627;
}
.identity p, .spa-text p, .service p {
  font-size: 1.4em;
  line-height: 1.4;
  font-weight: 200;
}

/*  ScrollMagic  */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.back-to-position.to-up {
  transform: translateY(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/* content 4 스파 섹션 */
#four {
  scroll-margin-top: 104px;
}
.spa {
  background-image: url(../img/guerlain-pic17.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 40em;
}
.spa .inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.spa .spa-text {
  margin-left: 50%;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
}
.spa-text h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #401404;
  margin-top: 15px;
}

/* content 5 서비스 섹션 */
#five {
  scroll-margin-top: 104px;
}
.service {
  background-image: url(../img/guerlain-pic18.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 40em;
}
.service .inner {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
}
.service .service-text {
  margin-left: 100px;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
}
.service-text h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #401404;
  margin-top: 15px;
}

/* content 6 겔랑하우스 섹션 */
#six {
  margin: 100px 0;
  
  
  scroll-margin-top: 104px;

}
.house {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.house .content2 > h3 {
  text-align: center;
  display: inline-block;
}
.house .content2 > p {
  margin-bottom: 20px;
  text-align: center;
}

.house-box {
  display: flex;
}
.house-box article {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}
.house-box article .coll-img2 {
  height: 450px;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}
.house-box article .coll-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.house-box article .house-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  color: #f6f5f0;
  
}


.house-text h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 6px;
  
}
.house-text p {
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  
  
}
.house-box article .coll-img2::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F19627;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  opacity: 0;
} 
.house-box article:hover .coll-img2::before {
  
  opacity: .9;
}
 .house-box article:hover .house-text {
  opacity: 1;
 }

 /* footer */
 footer {
  background-color: #401404;
  
 }
 footer .inner {
  padding: 60px 0;

 }
 .footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .terms {
  display: flex;
  gap: 30px;
  padding-right: 200px;
 }
 .terms li {
    border-right: 1px solid #f6f5f0;
    padding-right: 30px;
 }
 .terms li:last-child {
  border: 0;
 }
 .terms a {
  color: #f6f5f0;
  font-size: 1em;
 }
 .terms li a:hover {
  color: #F19627;
 } 
 .btn-group {
  display: flex;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
 }
 .btn2 {
  background-color: transparent;
  border: 1px solid #f6f5f0;
  font-weight: 300;
  padding: 20px;
  

 }
 .btn2:hover {
  background-color: #F19627;
  background-color: rgba(255,255,255,.1);
 }
 .copyright {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
 }
 .copyright li {
  color: #f6f5f0;
  font-weight: 100;
 }
/* 사이드바 */
.menu-toggle {
  display: none;
}
.overlay {
      visibility: hidden;
      position:fixed;
      top:0; left:0; right:0; bottom:0;
      background:rgba(0,0,0,0.5);
      z-index:9998;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .overlay.active { 
      visibility: visible; 
      opacity: 1;
    }
    .sub-menu-screen {
    display: none;
  }
/* house 서브페이지 */
.wrapper {
  margin-top: 104px;
  overflow: hidden;
  box-sizing: border-box;
}
.wrapper section {
  display: grid;
  grid-template-areas: "left-area right-area";
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 1fr;
} 
.left-area {
  border-right: 1px solid #F19627;
  text-align: right;
  padding: 12em 4em 4em 14em;
}
.left-area h2 {
  font-size: 2.9em;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 1.4em;
}
.left-area h3 {
  font-size: 2em;
  font-weight: 500;
}
.left-area p {
  font-size: 1.2em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  text-align: left;
  padding-left: 75px;
  font-weight: 200;
}
.right-area {
  /* border-left: 1px solid #F19627; */
}
.right-area .image {
  display: block;
  width: 50vw;
  height: 90vh;
}
.right-area .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-area p {
  margin-bottom: 40px;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  font-weight: 200;
}
.right-area .img-box {
  
  width: 100%;
  height: 350px;
}
.sub-area {
  padding: 8em 4em 4em 14em;
}
.sub-area2 {
  padding: 8em 4em 2em 4em;
}
.con-box {
  padding: 4em 4em 2em 4em;
  
  text-align: center;
  
  
}
.con-box h3 {
  font-size: 2em;
  font-weight: 500;
  margin: 20px 0;
}
.con-box p {
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0;
}
.con-box .img-box {
  display: block;
  width: 100%;
  height: 400px;
}
.con-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.color-box {
  background-color: #F19627;
  color: #f6f5f0;
}
.full-area {
  height: 150px;
  background-color: #F19627;
}


 /* 미디어쿼리 */
 @media screen and (max-width: 1660px){
  header .main-menu .item .contents_menu {
    
  }
  header .main-menu .item .contents_menu > ul {
    justify-content: flex-start;
    padding: 2em 4em;
    box-sizing: border-box;
    gap: 4em;
  }
  header .main-menu .item .center_box > ul{
    justify-content: center;
  }
  .left-area {
    padding-left: 12em;
  }
  .con-box {
    padding-left: 4em;
  }
 }
 @media screen and (max-width: 1360px){
  .sub-area {
    padding: 8em 4em 4em 10em;
  }
 }
 @media screen and (max-width: 1334px){
  body {
    overflow-x: hidden; /* 가로 스크롤 제거 */
  }
  header .main-menu .item .contents_menu {
     max-width: 100%;   /* 뷰포트 초과 방지 */
     width: 100%;
     box-sizing: border-box;
  }
   .coll-section section.theme {
    padding: 0 20px;
   }
   .collection {
    padding: 0 20px;
   }
   .content2 {
    padding-left: 20px;
    padding-right: 20px;
   }
   .left-area {
    padding: 4em 4em 4em 10em ;
   }
   .sub-area {
    padding: 8em 4em 4em 10em;
   }
   .con-box {
    padding-left: 4em;
  }
 }
 @media screen and (max-width: 1310px){
    .inner {
      width: 100%;
    }
    
  .main-menu, .sub-menu {
    padding-right: 2em;
  }
  header .logo {
    padding-left: 20px;
  }
  .identity .inner {
    padding: 0;
    
  }
  .text-box {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-box, .copyright {
    padding-left: 20px;
    padding-right: 20px;
  }
 }
  @media screen and (max-width: 1240px){
    header .main-menu .item .center_box > ul {
      padding: 2em;
    }
    .sub-box2 {
      width: 280px;
    }
    .sub-box2 .sub-img {
      width: 280px;
    }
    .sub-box2 h4 {
      line-height: 1.2em;
    }
    .left-area {
      padding: 4em;
    }
    .left-area p {
      padding-left: 0;
    }
    .sub-area2 {
      padding: 4em;
    }
  }
 @media screen and (max-width: 1110px){
  .terms {
    padding-right: 50px;
  }
 }
  @media screen and (max-width: 1080px){
    .sub-box {
      width: 280px;
    }
    .sub-box .sub-img {
      width: 280px;
    }
  }
  @media screen and (max-width: 1065px){
    .sub-box2 {
      width: 260px;
    }
    .sub-box2 .sub-img {
      width: 260px;
    }
  }
@media screen and (max-width: 1060px){
  header .inner {
    display: flex;
    flex-direction: column;
    
  }
  header .inner h1 {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
  }
  header .logo {
     position: static; /* absolute 제거 */
     top: auto;        /* 불필요한 값 초기화 */
     left: auto;
     z-index: 10;
     padding-left: 0;
      pointer-events: auto;
  }
  header .sub-menu {
    width: 100%;
    padding-right: 0;
    z-index: 9;
    /* z-index 상관없이 클릭 막힘 제거 */
    pointer-events: none; 
    
  }
  .sub-menu .menu a, .sub-menu .search {
    pointer-events: auto;
  }
  header .sub-menu .search {
    margin-left: auto;
  }
  header .main-menu .item .item_name {
    font-size: 1em;
  }
  header .main-menu {
    width: 100%;
    justify-content: center; 
    padding-right: 0;
  }
  header .sub-menu ul.menu li a {
    padding: 1em;
  }
  header .main-menu .item .contents_menu > ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .wrapper section {
    display: flex;
    flex-direction: column;
  }
  .left-area {
    border-right: none;
    text-align: center;
  }
  .right-area .image {
    width: 100%;
    height: 80vh;
    margin-bottom: 4em;
  }
  .right-area .img-box {
    height: 400px;
  }
  .sub-area {
    background-color: #F19627;
    color: #f6f5f0;
    
  }
  .sub-area2 {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .con-box {
    padding-bottom: 0;
  }
  .con-box .img-box {
    margin-bottom: 0;;
  }
  .con-box:last-child {
    padding-bottom: 40px;
  }
  
}
@media screen and (max-width: 1007px){
  .coll-section section.theme {
    align-items: center;
  }
  .terms {
    padding-right: 20px;
  }
  header .main-menu .item .contents_menu > ul {
    padding: 2em;
    gap: 3em;
  }
}
@media screen and (max-width: 970px){
  header .main-menu .item .center_box > ul {
    flex-wrap: nowrap;
    gap: 1.5em;
  }
}
@media screen and (max-width: 924px){
  .spa .spa-text {
    padding-right: 20px;
  }
  .footer-box {
    flex-direction: column;
    gap: 30px;
  }
  .terms {
    padding-right: 0;
  }
  .terms li:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 900px){
  header .inner {
    justify-content: center;
  }
  .menu-toggle {
    display: inline-block;
    
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 0;
    padding: 20px ;
    
  }
  .menu-toggle i {
    font-size: 2em;
    color: #401404;
    
  }

  .sidebar {
    position: fixed;
    top: 0; 
    left: -100%;
    width: 275px;
    height: 100vh;
    max-height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    overflow-y:auto;
    box-shadow: 2px 0 8px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: left 0.5s ease-in-out;
    
  }

  .sidebar.active {
    left: 0;
  }
  .sidebar .sub-menu {
    order: 99;

  }
  .close-btn {
    display: block;
    text-align: center;
    flex-shrink: 0;
    max-width: 47px;
    align-self: flex-end;
  }
  .close-btn button{
    
    color: #401404;
    text-align: center;
    
  }
  .search-box {
      display: block;
      position: relative;
      width: 230px;
      max-width: 230px;
      padding-left: 16px;
      text-align: left;
      margin: 10px 0;
    }

    .search-box input {
      width: 100%;
      padding: 12px 45px 12px 10px; /* 오른쪽 공간 확보 */
      border: 0;
      border-bottom: 1px solid #ccc;
      
      font-size: .8em;
      outline: none;
      transition: 0.3s;
      box-sizing: border-box;
      color: #401404;
    }

    .search-box input:focus {
      border-color: #F19627;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .search-box button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: #401404;
    }

    .search-box button:active {
      color: #F19627;
    }
  
  
  
  /* 모바일 전용 화면 */
  .sub-menu-screen {
    display: none;
    padding: 15px;
    
  }
  .sub-menu-screen.active { display: block; }

  .sub-menu-screen .back-btn {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    color: #401404;
    font-weight: bold;
  }

  .sub-menu-screen h4 {
    padding: 20px 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
  }
   

/* 아코디언: 기본 닫힘 */
  .sub-menu-screen .accordion-content {
    display: none;
    padding: 0 0 10px 15px;
  }
  .sub-menu-screen .sub-box { 
    display: block; 
    margin: 10px 0; 
  }
  .sub-box {
    width: 235px;
    
  }
  .sub-box .sub-img {
    width: 235px;
  }
  .sub-box .sub-img img {
    width: 100%;
    object-fit: cover;
  }
  .sub-box .sub-text {
    margin-top: 10px ;
    margin-bottom: 20px;
    width: 220px;
    line-height: 1.2em;
    
  }
  .accordion-content > ul {
    margin: 15px 0;
  }
  .accordion-content > ul li {
    margin: 20px 0;
  }

  /* 데스크톱 전용 메뉴 위치 제거 */
  .inner > .sub-menu,
  .inner > .main-menu {
    display: none;
  }
  header .main-menu, header .sub-menu {
    position: relative;
    top: auto;        /* 불필요한 값 초기화 */
    left: auto;
    
  }
  /*  모바일에서는 hover 효과 제거 */
   .contents_menu { display: none !important; }

   header .sub-menu {
    padding-bottom: 40px;
    
    justify-content: center;
    flex: 1;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    
  }
  header .sub-menu .search {
    display: none; 
  }
  header .sub-menu .menu {
    width: 100%;
    justify-content: center;
  }
  header .sub-menu .search input:focus {
    width: 15em;
  }
  header .main-menu {
    flex-wrap: wrap;
    margin-bottom: 50px;
    
  }
  header .main-menu .item {
    width: 275px;
    cursor: pointer;
  }
  header .main-menu .item .item_name {
    padding: 1.5em 1em;
  }

  .coll-section section.theme {
    flex-wrap: wrap;
  }
  .coll-section section.theme2 .text-left {
    order: 2;
  }
  .coll-box {
    flex-wrap: wrap;
  }
  .coll-box article {
    width: 50%;
    height: 400px;
  }
  .coll-box2 {
    flex-wrap: wrap;
  }
  .coll-box2 article {
    display: flex;
    height: 400px;
  }
  .coll-box2 .coll-text2 {
  padding: 0;
  text-align: center;
  position: static;
  top: 0;
  left: 0;
  width: 50%;
  height: 400px;
  transform: translateY(0);
  transition: all 0.5s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .coll-box2 article .coll-img2 {
    width: 50%;
    height: 400px;
  }
  
  .coll-box2 article:hover .coll-img2 {
    opacity: 1;
  }
  .house-box {
    flex-wrap: wrap;
  }
  .house-box article {
    height: 550px;
  }
  .house-box article .coll-img2 {
    height: 550px;
  }
}


@media screen and (max-width: 800px){
  .slide .text {
    top: 8%;
    left: 0;
    text-align: center;
  }
  .slide .text h2 {
    padding-left: 10px;
    padding-right: 10px;
    
  }
  .slide .text_b h2:after {
    display: none;
  }
  .slide .text_b h2, .slide .text_b p {
    text-shadow: 1px 1px 0 #eee;
  }
  .left-area {
    padding: 4em 2em;
  }
  .left-area h2 {
    font-size: 2.6em;
  }
  .sub-area2, .con-box {
    padding-left: 2em;
    padding-right: 2em;
  }
  .right-area .img-box {
    height: 400px;
  }
  .con-box {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 726px){
  .identity .inner {
    height: 500px;
  }
  .service h3, .service p {
    text-shadow: 1px 1px 0 #f6f5f0;
  }
}
@media screen and (max-width: 715px){
  .spa-text h3, .service h3  {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 675px){
  .spa .spa-text {
    margin-left: 40%;
  }
}
@media screen and (max-width: 620px){
  .slide .text h2 {
    font-size: 1em;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 600px){
  .coll-box article {
    width: 100%;
    height: 500px;
  }
  .coll-box2 article {
    flex-direction: column;
    height: 600px;
  }
  .coll-box2 .coll-text2 {
    width: 100%;
  }
  .coll-box2 article .coll-img2 {
    width: 100%;
  }
  .service .service-text {
    padding-right: 20px;
  }
  .service .service-text {
    margin-left: 80px;
  }
  .footer-box {
    gap: 40px;
  }
  .terms {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
  .terms li {
    width: 40%;
    border-right: none;
    padding-right: 0;
    
  }
  .copyright {
    flex-direction: column;
  }
  
  
} 
@media screen and (max-width: 540px) {
  .collection h3 {
    font-size: 1.4em;
  }
  .text-box {
    padding: 0 20px;
  }
  .spa-text h3, .service h3  {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 500px){
  header .logo {
    font-size: 2em;
    line-height: 1.5em;
  }
  .coll-box2 .text-box2 {
    height: 200px;
  }
}


